.required-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*width: 300px;*/
  height: auto;
  margin: 0 auto;
  background-color: white;
  border: none;
  border-radius: 40px;
  padding: 20px;
  box-sizing: border-box;

  /* NEW LINES */
  width: 100%;
  max-width: 300px;


}

.required-form h1 {
  order: -1; /* Moves the h1 element to the top */
  margin-bottom: 20px; /* Adds some space between the h1 and the form */
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #14171a;

  /* NEW LINES */
  text-align: center;
}


